.result{
    margin: 1rem;
    padding: 1rem;
    border: #000 solid 1px;

    &__name{
        font-size: 1.125rem;
        font-weight: bold;
        margin-bottom: 0.25rem;
    }

    &__author{
        font-weight: bold;
        margin-bottom: 0.25rem;
    }

    &__info{
        margin-bottom: 0.25rem;
    }

    &__tags{
        display: flex;
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
    }

    &__tag{
        margin: 0.5rem 0.5rem 0 0.5rem;
        
        &::first-letter{
            text-transform: uppercase;
        }
    }
}